
@{
    ViewData["Title"] = "Home Page";
}


@section scripts {
    <script>
        $(document).ready(function(){
            caricamentoListPersone();
            caricamentoFormPersone();
        });
    </script>
}

<div class="text-center">

    <div id="ListPersone"></div>
   <div id="FormPersone"></div>

</div>




